<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="about.css">
</head>

<body>
    <!-- nav  -->
    <%- include('partials/nav') %>
    <!-------------------------------------->
    <div class="title">
        <h1>Why Choose <span>Us</span></h1>
        <p>We’re your trusted resource for everything gym-related. Whether you're looking for expert equipment reviews,
            <span>workout tips</span>,<br> or guidance on improving your <span>fitness routine</span>, we’ve got you
            covered. Our goal is to provide you with reliable, up-to-date<br> information to help you make informed
            decisions and achieve your <span>fitness goals</span> with ease.
        </p>
    </div>
    <div class="box">
        <div class="cont-one">
            <div class="flex">
                <img src="assets/calories logo.png" alt="">
                <div>
                    <h5><span>Calorie </span>Calcultaions</h5>
                    <p>Easily track your calorie intake and burn to <span>stay on top</span> of your fitness goals
                        and<br>maintain a balanced, healthy lifestyle.</p>
                </div>
            </div>
            <div class="flex">
                <img src="assets/fitnesslogo.png" alt="">
                <div>
                    <h5>Fitness <span>News</span></h5>
                    <p>Stay updated with the <span>latest news</span>, trends, and breakthroughs in the fitness
                        world to
                        keep you
                        informed and motivated.</p>
                </div>
            </div>
            <div class="flex">
                <img src="assets/shop logo.png" alt="">
                <div>
                    <h5>Gym <span>Shop</span></h5>
                    <p>Browse a wide range of gym essentials, from protein snacks and <span>supplements to
                            recovery</span>
                        tools, all designed to fuel and support your fitness journey.</p>
                </div>
            </div>
            <div class="flex">
                <img src="assets/oprerating logo.png" alt="">
                <div>
                    <h5><span>Operating </span>Hours</h5>
                    <p>We provide all the gym resources you need in one place, <span>saving you time</span> and
                        helping
                        you
                        stay focused on your fitness journey.</p>
                </div>
            </div>
        </div>
        <div class="cont-two">
            <div>
                <img src="assets/image 3.png" alt="" width="200px" height="120px">
                <img src="assets/image 4.png" alt="" width="200px" height="120px">
            </div>
            <div>
                <img src="assets/image 2.png" alt="" width="200px" height="240px">
            </div>
        </div>
    </div>

    <!-- footer  -->
    <%- include('partials/footer') %>

    <script src="nav.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>

</html